

.lang-link {
    text-decoration: none;
    color: #ffffff;

    font-size: 1.5rem;
    line-height: 1.15;

}

.lang-link:hover {
  text-decoration-line: underline;
  opacity: .3;
  transition: opacity .7s ease;
}

