@import url('./__item/photo-grid__item.css');

.photo-grid {
  max-width: 93%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  /* grid-template-rows: repeat(3, 24%); */
  grid-gap: 2% 0;
  justify-content: space-between;
}
