.place__paragraph {
  margin: 0 0 7%;
  font-size: 18px;
  line-height: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 22px;
  }
 }

 @media screen and (min-width: 425px) and (max-width: 767px) {
  .place__paragraph {
    font-size: 50px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 424px) {
  .place__paragraph {
    font-size: 50px;
    line-height: 1.5;
  }
}
