@import url('./__part/intro__part.css');
@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__list/intro__list.css');
@import url('./__item/intro__item.css');

.intro {
    margin: 7% auto;
    max-width: 77%;
    display: flex;
    justify-content: flex-start;
}
