.lead__caption {
    align-self: flex-start;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
 .lead__caption {
   margin-left: 2%;
 }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
 .lead__caption {
   margin-left: 3%;
   font-size: 1rem;
 }
}

@media screen and (max-width: 424px) {
  .lead__caption {
    margin-left: 3%;
    font-size: 1rem;
  }
}
