.website__link {
  text-decoration: none;
  color: #ffffff;
  text-decoration-line: underline;
  font-size: calc( (100vw - 80rem)/(240 - 80) * (3.3 - 1.125) + 1.125rem);
  line-height: 1.2;
}

.website__link:hover {
  opacity: .8;
  transition: opacity .7s ease;
}
