@import url('./__image/place__image.css');
@import url('./__paragraphes/place__paragraphes.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__title/place__title.css');

.place {
  max-width: 100%;
  margin-bottom: 10%;
  display: grid;
  grid-gap: 4% 4%;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "place-title place-website"
    "place-image place-paragraph";
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .place {
    grid-template-columns: 100%;
    grid-template-areas: "place-title"
                          "place-image"
                          "place-paragraph";
    margin-bottom: 15%;
  }
}

@media screen and (max-width: 424px) {
  .place {
    grid-template-columns: 100%;
    grid-template-areas: "place-title"
                          "place-image"
                          "place-paragraph";
    margin-bottom: 15%;
  }
}
